<div class="col-md-3">
<h2>User info</h2>
<h3><%= image_tag user.get_profile_image %></h3>
<table class="table">
<tr>
  <th><h3>name</h3></th>
  <th><h3><%= user.name %></h3></th>
</tr>
<tr>
  <th><h3>introduction</h3></th>
  <th><h3><%= user.introduction %></h3><th>
</tr>
</table>
<%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
<div class="sample"><i class="fas fa-user-cog"></i></div>
<% end %>
