<h1>Book detail</h1>

<table>
<thead>
    <tr>
      <th colspan="1"></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
</thead>

<% @books.each do |book| %>
<tr>
  <td><%= image_tag book.get_image %></td>
      <td><%= link_to book.title, "/top" %></td>
      <td><%= book.body %></td>
    </tr>
<% end %>
</table>