<body>
<div class="container">
  <div class="row">
    <div class="mx-auto">
<h1>welcome to
<i class="fa-solid fa-book bookers"></i><strong>Bookers !!</strong></h1>
In
<i class="fa-solid fa-book bookers"></i><strong>Bookers</strong>,<p><p>
you can share and exchange your opinions , inpressions , and emotions<p>
about various books!
<p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">

          <button onclick= "location.href= '/users/sign_in'" type="button" class="btn btn-info btn-sm w-100">Log in</a>
        </div><p>
        <div class="row">
         <button onclick= "location.href= '/users/sign_up'" type="button" class="btn btn-success btn-sm w-100">Sign up</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>


<div class="container mt-4">
  <div class="row">
  <div class="mx-auto">
<p><p>CopyRight Infratop.inc
</div>
</div>
</div>
</body>